.App {
  text-align: center;
}

.search-text {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.search-bar {
  font-size: 18px;
  padding: 0 2px;
}

.search-submit {
  font-size: 18px;
}

.results-content {
  margin-top: 20px;
}

.accent {
  color: darkred;
  font-weight: 500;
}
